<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sww.mapper.ArticleMapper">
    <select id="getArticles" resultType="com.sww.pojo.view.PackedArticle">
        select article.id id, article.title title, user_info.id authorId, article.gmt_create gmtCreate, user_info.avatar_url authorAvatarUrl, user.username authorUsername
        from article
        inner join user_info
        on
        article.author_id = user_info.user_id
        inner join user
        on
        user.id = article.author_id
        where article_type = #{articleType}
    </select>

</mapper>