<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sww.mapper.StoryMapper">
    <select id="getStories" resultType="com.sww.pojo.packed.PackedStory">
        select story.id id, story.title title, user_info.id authorId, story.gmt_create gmtCreate, user_info.avatar_url authorAvatarUrl, user.username authorUsername
        from story
        inner join user_info
        on
        user_info.user_id = story.author_id
        inner join user
        on
        user.id = story.author_id
    </select>

</mapper>