<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sww.mapper.UserInfoMapper">
    <select id="getViewListUsers" resultType="com.sww.pojo.view.ViewListUser">
        select 
        user.username username,
        user.id userId,
        user_info.avatar_url avatarUrl
        from user
        inner join user_info
        on user.id = user_info.user_id
        where user.id in
        <foreach collection="set" open="(" separator="," close=")" item="item">
            #{item}
        </foreach>
    </select>

    <select id="getViewUserInfo" resultType="com.sww.pojo.view.ViewUserInfo">
        select
        user.username username,
        user.id userId,
        ui.avatar_url avatar,
        ui.follow_num followNum,
        ui.followed_num followedNum,
        ui.liked_num likedNum,
        ui.introduction introduction,
        ui.birth birth
        from user_info as ui
        inner join user
        on user.id = ui.user_id
        where user.id = #{userId}
        and user.is_delete = 0
    </select>
</mapper>